# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.xcodeproj
# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ProcGenBroPower/Debug/
ProcGenBroPower/ProcGenBroPower/Debug/
ProcGenBroPower/ProcGenBroPower.opensdf

ProcGenBroPower/opengl.xcodeproj/project.pbxproj

*.xcuserstate

ProcGenBroPower/opengl.xcodeproj/project.xcworkspace/xcuserdata/bertbosch.xcuserdatad/UserInterfaceState.xcuserstate
